@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --backgroundColor1: #08070B;
    --backgroundColor2: #040416;
    --primary: #2b7a8a;
    --secondary: #8b0dd5;
    --tertiary: #ff00ff;
    --quaternary: #3700ff;
}

::selection {
    color: #fff;
    background: var(--primary);
}

body {
    font-family: "Tilt Neon", sans-serif !important;
    height: 100vh;
    color: #fff !important;
    background: linear-gradient(to right, var(--backgroundColor1), var(--backgroundColor2));
}

a {
    text-decoration: none !important;
}

/* HEADER */

nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: grid;
    place-items: center;
    transition: background-color 0.3s ease;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 0% 0% 50% 50%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 10px 0;
    position: relative;
}

ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 10px;
    padding: 10px 25px;
    position: relative;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 8px;
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
    z-index: -1;
    box-shadow: -15px -10px 30px -5px var(--primary),
        15px -10px 30px -5px var(--primary),
        15px 10px 30px -5px var(--secondary),
        -15px 10px 30px -5px var(--secondary);
    transition: 0.25s;
}

ul li a:hover {
    color: #fff;
}

ul li a:hover::before {
    width: 100%;
}

ul li .tooltip {
    font-family: "Tilt Neon", sans-serif !important;
    font-size: 18px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px; 
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--secondary), var(--primary));
    white-space: nowrap;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #fff;
    transition: all 0.5s ease;
}

ul li .tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 48%;
    transform: rotate(180deg);
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary) transparent transparent transparent;
}

ul li:hover .tooltip {
    opacity: 1;
    top: 135%;
}

.bi, .bx {
    font-size: 25px;
}





/* HEADER A SIDEBAR DESPLEGABLE */

.menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease;
}

.menu-icon .bi {
    font-size: 40px !important;
}

.menu-icon.active {
    transform: rotate(90deg);
}

.neon-icon {
    text-shadow: 0 0 5px var(--primary), 0 0 10px var(--primary), 0 0 20px var(--primary),
                 0 0 40px var(--secondary), 0 0 60px var(--secondary), 0 0 80px var(--secondary);
    transition: all 0.3s ease;
}

.menu-icon:hover .neon-icon {
    text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 30px var(--secondary),
                 0 0 50px var(--secondary), 0 0 70px var(--secondary), 0 0 100px var(--secondary);
}

.neon-icon {
    animation: pulse-neon 1.5s infinite alternate;
}

@keyframes pulse-neon {
    from {
        text-shadow: 0 0 5px var(--primary), 0 0 10px var(--primary), 0 0 20px var(--primary),
                     0 0 40px var(--secondary), 0 0 60px var(--secondary), 0 0 80px var(--secondary);
    }
    to {
        text-shadow: 0 0 20px var(--primary), 0 0 30px var(--primary), 0 0 40px var(--secondary),
                     0 0 50px var(--secondary), 0 0 70px var(--secondary), 0 0 100px var(--secondary);
    }
}

#nav-menu {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 250px;
        background-color: rgba(0, 0, 0, 0);
        padding: 10px 15px;
        border-radius: 10px 0 0px 10px;
        position: absolute;
        top: 60px;
        right: 0;
    }

    #nav-menu.active {
        display: flex;
    }

    ul li {
        margin: 10px 0;
    }

    ul li a {
        font-size: 18px;
        padding: 10px 20px;
        text-align: right;
    }
}

/* FIN HEADER A SIDEBAR DESPLEGABLE */





/* FIN HEADER */

/* INDEX */

.container {
    padding: 10% 0% 5% 0%;
    display: grid;
    place-items: center;
}

.justified_container {
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.index-title, .name, .career-title {
    text-align: center;
}

.principal_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 2%;
}

hr {
    color: #3d3d3d9a;
    width: 95%;
}

h3 {
    color: #bdbdbd;
}

.horizontal_container {
    display: flex;
    gap: 50px;
    margin: 2.5%;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-image: linear-gradient(to right bottom, var(--primary), var(--primary), var(--primary), var(--secondary), var(--secondary));
    border: none;
    font-size: 1.2em;
    border-radius: 1.5em;
    padding: 4px;
    transition: border-top-left-radius 0.2s ease-in, 
    border-top-right-radius 0.2s ease-in 0.15s, 
    border-bottom-right-radius 0.2s ease-in 0.3s,
    border-bottom-left-radius 0.2s ease-in 0.45s, 
    padding 0.2s ease-in;
    position: relative;
}
  
.button__int {
    background-color: var(--backgroundColor1);
    color: #fff;
    border-radius: 1.3em;
    padding: 10px 40px;
    transition: all 0.2s ease-in,
    border-top-left-radius 0.2s ease-in, 
    border-top-right-radius 0.2s ease-in 0.15s, 
    border-bottom-right-radius 0.2s ease-in 0.3s,
    border-bottom-left-radius 0.2s ease-in 0.45s,
    padding 0.2s ease-in;
    font-weight: 600;
    z-index: -1;
    box-shadow: -15px -10px 30px -5px var(--primary),
        15px -10px 30px -5px var(--primary),
        15px 10px 30px -5px var(--secondary),
        -15px 10px 30px -5px var(--secondary);
}
  
.button:active .button__int {
    padding: 10px 30px;
}
  
.button:hover {
    border-radius: 0;
}
  
.button:hover .button__int {
    border-radius: 0;
}
  
.button:hover .button__int {
    box-shadow: -25px -10px 30px -5px var(--primary),
        25px -10px 30px -5px var(--primary),
        25px 10px 30px -5px var(--secondary),
        -25px 10px 30px -5px var(--secondary);
}

.contacts_container .bx {
    color: #fff !important;
    font-size: 40px;
}

p {
    font-size: 18px;
}

.card {
    --background: linear-gradient(to left, var(--primary) 0%, var(--secondary) 100%);
    width: 400px;
    height: 600px;
    padding: 5px;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--background);
    position: relative;
    z-index: 1;
    margin: 20px;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: var(--background);
    transition: opacity .5s;
}

.card-info {
    background-image: url('../img/Currículums/currículum_español.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .7rem;
    position: relative;
    transition: opacity 0.5s;
}

.card-info.english {
    background-image: url('../img/Currículums/currículum_inglés.png');
}

.card-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.card .title {
    font-weight: bold;
    letter-spacing: .1em;
    z-index: 2;
}

.card:hover::after {
    opacity: 0;
}

.card:hover .card-info::before {
    opacity: 1;
}

.card:hover .card-info {
    color: var(--primary);
}

.card a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover a {
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
  
    to {
        transform: rotateZ(360deg);
    }
}
  
.border {
    background-image: linear-gradient(to left, var(--secondary), var(--primary));
    width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-top: 30px;
}
  
.border::before {
    background-image: linear-gradient(to left, var(--secondary), var(--primary));
    content: "";
    position: absolute;
    z-index: -1;
    height: 180px;
    width: 180px;
    scale: 1.1;
    filter: blur(25px);
    animation: rotate 4s linear infinite;
    border-radius: 100px;
}

.border_lenguage {
    background-image: linear-gradient(to left, var(--secondary), var(--primary));
    width: 210px;
    height: 210px;
    border-radius: 20px;
    margin-top: 30px;
}

.border_lenguage::before {
    background-image: linear-gradient(to left, var(--secondary), var(--primary));
    content: "";
    position: absolute;
    z-index: -1;
    height: 210px;
    width: 210px;
    scale: 1.1;
    filter: blur(25px);
    animation: rotate 4s linear infinite;
    border-radius: 100px;
}
  
.center_content {
    background-color: var(--backgroundColor1);
    width: 180px;
    height: 180px;
    border-radius: 19px;
    scale: 0.9;
    text-align: center;
    justify-content: center;
}

.center_content_lenguage {
    background-color: var(--backgroundColor1);
    width: 210px;
    height: 210px;
    border-radius: 19px;
    scale: 0.9;
    text-align: center;
    justify-content: center;
}

.center_content_img {
    width: 130px;
    height: 130px;
    padding: 10px;
}

.lenguage_img {
    width: 180px;
    height: 130px;
    padding: 10px;
}

.special {
    width: 180px !important;
}

.center_content_title {
    font-size: 24px;
    font-weight: bold;
}





.card_2-container {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 10px;
}
  
.card_2-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, var(--secondary) 0%, var(--primary) 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(30px);
}
  
.card_2 {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}
  
.card_2 .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, var(--secondary) 0%, var(--primary) 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
}
  
.card_2 .img-content svg {
    width: 50px;
    height: 50px;
    fill: #212121;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.card_2 .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #000;
    font-weight: bold;
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.card_2 .content .heading {
    font-size: 32px;
    font-weight: 700;
}
  
.card_2:hover .content {
    opacity: 1;
    transform: translateY(0);
}
  
.card_2:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
}
  
.card_2:hover .img-content svg {
    fill: transparent;
}





.project_container {
    width: 100%;
    max-width: 580px;
    background-image: linear-gradient(163deg, var(--tertiary) 0%, var(--quaternary) 100%);
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    padding: 10px;
    box-sizing: border-box;
}

.project_container:hover {
    box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.project_content {
    background-color: #1d1724;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.project_content:hover {
    transform: scale(0.98);
    border-radius: 18px;
}

.text {
    color: #fff;
    font-size: 17px;
    margin-top: 10px
}

.project_title {
    color: #fff !important;
    padding-bottom: 5px !important;
    font-weight: bold;
}

.project_img {
    width: 100%;
    max-width: 530px;
    height: auto;
    border-radius: 10px;
}

.project_img_2 {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 10px;
}





/* GALERÍA DE IMÁGENES */

.button-group {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}
  
.gallery-btn, .project-link-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
}
  
.gallery-btn, .project-link-btn {
  background-color: var(--quaternary);
  box-shadow: 0 0 10px var(--quaternary), 0 0 20px var(--quaternary);
}

.gallery-btn:hover, .project-link-btn:hover {
  background-color: var(--tertiary);
  box-shadow: 0 0 20px var(--tertiary), 0 0 40px var(--tertiary);
}




 
/* Estilos del cuadro emergente */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background-color: var(--backgroundColor2);
    padding: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px var(--primary), 0 0 40px var(--secondary);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}
  
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.close-btn:hover {
    color: var(--secondary);
    transform: rotate(180deg);
}
  
.gallery-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px var(--primary), 0 0 20px var(--secondary);
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
  
.gallery img {
    width: 100%;
    max-width: 530px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary), 0 0 20px var(--secondary);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--tertiary), 0 0 40px var(--tertiary);
}  

/* FIN GALERÍA DE IMÁGENES */





/* FIN INDEX */